<html data-ng-app="">
<head>
	<title>Using AngularJS MVVM</title>
</head>
<body>
	<div data-ng-controller="SimpleController">
		Name:
		<br />
		<input type="text" data-ng-model="name" />
		<br />
		<ul>
			<li data-ng-repeat="cust in customers | filter:name | orderBy: 'city' "> {{ cust.name | uppercase }}  - {{ cust.city | lowercase}}
			</li>
		</ul>
	</div>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript">
		function SimpleController($scope){
			$scope.customers=[
				{name: 'John Smith', city: 'Phoenix'}, 
				{name: 'John Doe', city:'New York' }, 
				{name: 'Jane Doe', city: 'San Francisco' }
			];
		}
	</script>
</body>
</html>